schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="root">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="title" type="xs:string" />
            <xs:element name="tags" type="xs:string" />
            <xs:element name="content" type="xs:string" />
            <xs:element name="image" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>
